<div class="posts">
  <div class="row">
  {{#each posts}}
    {{!-- <div class="row"> --}}
      <div class="m-2 col-sm-4">
        <div class="card text-center">
          <div class="card-header">
            <h3>{{title}}</h3>
          </div>
          <div class="card-body">
            <p class="card-text">{{body}}</p>
            <h5>DUE DATE: {{dueDate}}</h5>
            <a href="#" class="btn-sm btn-success text-white text-decoration-none">DETAILS</a>
            <p>Coming Soon</p>
          </div>
        <div class="card-footer text-muted">
          Posted by {{User.username}} on {{format_date createdAt}}
        </div>
      </div>
    </div>
  {{/each}}
</div>