<div class="users">
  {{#each user}}
  <article class="card">
    <div class="card-header d-flex justify-content-center">
      <h2>
        <a href="/user/{{id}}">{{name}}</a>
      </h2>
    </div>
    <div class="card-body">
      {{!-- project info --}}
      {{email}}
      {{!-- {{budget ? }} --}}
      {{!-- {{user.name}}
      {{comment.hours}} --}}
    </div>
  </article>
  {{/each}}
</div>