<div class="posts">
  <div class="row m-2">
  {{#each posts}}
    {{!-- <div class="row"> --}}
      <div class="col-md-4 align-content-center">
        <div class="card text-center">
          <div class="card-header">
            <h3>{{title}}</h3>
          </div>
          <div class="card-body">
            <p class="card-text">{{body}}</p>
            <h5>DUE DATE: {{dueDate}}</h5>
            <p>BUDGET: {{budget}}</p>
            <p>STATUS: {{status}}</p>
            <a class="btn-sm btn-warning text-white text-decoration-none" href="/dashboard/edit/{{id}}">EDIT</a>
          </div>
        <div class="card-footer text-muted">
          Posted by {{User.username}} on {{format_date createdAt}}
        </div>
      </div>
    </div>
  {{/each}}
</div>