<div class="container">
  <h1>Edit Project</h1>

<div class="card-header">
   <div class="row">
    <form id="edit-post-form" class="col-6 new-post-form card-body">
    <input type="hidden" name="post-id" value="{{post.id}}" />
      </div>
        <div class="form-group">
        <label class="form-label" for="post-title">Project Name</label>
        <input type="text" name="post-title" class="form-input" value="{{post.title}}">
      </div>

      <div class="form-group">
        <label class="form-label" for="editor">Project Content</label>
        <textarea id="editor" name="post-body" class="form-control">{{post.body}}</textarea>
      </div>

      <div class="row my-3">
        <div class="col-3">
          <label class="form-label" for="post-boss">Employer</label>
          <input type="text" name="post-boss" value="{{post.boss}}" class="form-input"</input>
        </div>

        <div class="col-3 mx-1 form-group">
          <label class="form-label" for="post-rate">Budget</label>
          <input type="text" name="post-rate" value="{{post.rate}}" class="form-input" ></input>
        </div>

        <div class="col-3 mx-1 form-group">
          <label class="form-label" for="post-date">Due Date</label>
          <input type="date" id="date" value="{{post.date}}" class="form-input"></input>
        </div>
      </div>
          <button type="submit" class="btn btn-primary">Update</button>

    <button type="button" id="delete-btn" class="btn btn-danger">Delete</button>
    
</div>








{{!-- <div class="post card">
  <div class="card-header">
    <h2>Edit Post</h2>
  </div>
  <form id="edit-post-form" class="card-body">
    <input type="hidden" name="post-id" value="{{post.id}}" />

    <label class="form-label" for="post-title">Project</label>
    <input type="text" name="post-title" value="{{post.title}}" class="form-input" />

    <label class="form-label" for="post-body">Content</label>
    <textarea name="post-body" class="form-input">{{post.body}}</textarea>

    <label class="form-label" for="post-boss">Employer</label>
    <input type="text" name="post-boss" value="{{post.boss}}" class="form-input" />

    <label class="form-label" for="post-rate">Rate Of Pay</label>
    <input type="text" name="post-rate" value="{{post.rate}}" class="form-input" />

    <label class="form-label" for="post-date">Due Date</label>
    <input type="text" name="post-date" value="{{post.date}}" class="form-input" />

    <button type="submit" class="btn">Update</button>

    <button type="button" id="delete-btn" class="btn">Delete</button>
  </form>
</div> --}}

<script src="/js/edit.js"></script>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
  var quill = new Quill('#editor', { theme: 'snow' });
